body{
  background: #FCFCFC;
}
.contact-us{
  margin-top: 30px;
}
.contact-us img{
  width: 100%;
}
.contact-us h2{
  color: #BE1622;
  margin-bottom: 31px;
  font-size: 29px;
}
.contact-us h3{
  margin: 55px 0px 30px 0px;
  color: #B71616;
  font-size: 23px;
  font-weight: 500;
}
.contact-us p{
  color: #636363;
  font-size: 15px;
  margin-bottom: 15px;
}
.contact-us a{
  color: #BE1622;
  font-size: 15px;
}

/* contact form css */
.contact-form{
  margin-top: 50px;
}
.contact-form-main{
  display: flex;
}
.contact-form-main .left{
  width: 40%;
}
.contact-form-main .right{
  width: 60%;
}
.contact-form-main .left img{
  width: 100%;
}
form{
  margin: 25px;
}
label {
    display: block;
    font-size: 12px;
    color: #525252;
    margin-bottom: 2px;
}
input{
    margin-bottom: 15px;
    width: 60%;
    height: 27px;
    border: 1px solid #bdbbbb;
    text-indent: 3px;
    background: #fff;
}
input:focus,textarea:focus{
  outline: none;
}
textarea{
  border: 1px solid #bdbbbb;
}
form p{
  font-size: 12px;
  margin-top: 20px;
  color: #525252;
  margin-bottom: 2px;
}
#pin-class{
  width: 50px;
}
.contact-btn{
  display: block;
    padding: 10px 20px;
    border: navajowhite;
    cursor: pointer;
    background: #BE1622;
    color: #fff;
    font-size: 13px;
}
.contact-btn:focus{
  outline: none;
}
.contact-btn:hover{
  background: #944349;
  transition: 0.3s;
}
